<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <title>CSS transitions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" media="all">   
</head>
<body>

    <script type="text/x-template"  id="ss-story-tpl">
        <div class="ss-story">
            <div class="ss-photo">
                <img src="<%= image %>">
            </div>
            <div class="ss-headline">
                <%= headline %>
            </div>
            <div class="ss-description">
                <%= description %>
            </div>
        </div>
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
