<div class="ttt-gameboard">
    <div class="ttt-cell"
         ng-repeat="cell in c.board.state"
         ng-class="{ 'ttt-winner' : cell.isWinner, 'ttt-edge' : $index % 3 == 2, 'ttt-bottom' : $index > 5 }"
         ng-click="c.mark($index)">
        <div class="ttt-inner-2">
            <div class="ttt-inner-1">
                <div class="ttt-inner-0">
                    <div class="ttt-inner">
                        <i class="fa"
                           ng-class="{ 'fa-circle-o' : cell.value=='O', 'fa-times' : cell.value=='X' }"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
